# Dependency directories
node_modules/

# Build outputs
apps/admin/build/
apps/backend/dist/
apps/mobile/dist/
apps/mobile/web-build/

# Expo/React Native/Metro
apps/mobile/.expo/
apps/mobile/.metro-health-check*

# Coverage
coverage/
apps/admin/coverage/
apps/backend/coverage/

# Environment files
.env*
apps/admin/.env*
apps/backend/.env*
apps/mobile/.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk files
.DS_Store

# Misc
*.tsbuildinfo

**/node_modules/
**/dist/
